.title {
    font-size: 4rem;
    line-height: 1.4;
    &--white {
        color: #fff;
    }
}

.subtitle {
    font-size: 3rem;
    font-weight: 600;
    &--white {
        color: #fff;
    }
}

.text {
    line-height: 1.8;
    &--white {
        color: #fff;
    }
}

.desc {
    margin-top: 3rem;
}