.open-days {
    &__wrapper {
        background-color: $black;
        padding: 5rem;
    }
    &__text {
        margin-top: 2rem;
    }

    &__form {
        margin-top: 5rem;
        width: 70%;
        color: #fff;
    
    }

    &__input, &__textarea {
        height: 45px;
    }

    &__input-group {
        width: calc(100% / 2 - 2rem);
        margin-bottom: 3rem;
        color: inherit;
        &:last-child{
            margin-right: 0;
        }

        input {
            width: 100%;
        }

        @media (min-width: 992px) {
            margin-right: 2rem;
        }
    }

    &__textarea {
        width: 100%;
        color: inherit;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__button {
        min-width: 22rem;
        margin-top: 4rem;
    }
    
}

@media(max-width: 992px) {
    .open-days {
        &__wrapper {
            margin: 0 -2rem;
            padding: 5rem 2rem;
        }

        &__form {
            width: 100%;
        }
    }
}

@media(max-width: 768px) {
    .open-days {
        &__input {
            width: 100%;
        }
    }
}