.quick-contacts {
    margin-top: 4rem;
    &__links{
        margin-top: 2rem;
    }
    &__link {
        display: flex;
        margin-top: 1rem;
        p {
            font-weight: 600;
            width: 30%;
        }
    }
    &__tel, &__addr {
        width: 70%;
    }

    &__tel {
        color: #212121;
    }
    &__addr {
        font-style: normal;
    }
    &__button {
        margin-top: 3rem;
    }
    
}