.sidebar {
    width: 30%;
    min-width: 28rem;
    &__title {
        font-size: 2.4rem;
    }
    &__content {
        margin-top: 5rem;
    }
    &__item {
        display: flex;
        font-size: 1.6rem;
        margin-bottom: 0.7rem;
        p {
            width: 50%;
            font-weight: 600;
        }
        span {
            width: 50%
        }
    }

    &__qty {
        display: flex;
        align-items: center;
        height: 3rem;
        margin-top: 3rem;
        
    }

    &__input-group {
        display: flex;
        align-items: center;
        width: 60%;
        height: 100%;
        label[for="quantity"] {
            width: 30%;
            font-size: 1.6rem;
        }
    }

    &__input {
        width: 30%;
        height: 100%;
        padding: 0.5rem;
    }

    &__price {
        font-size: 3rem;
        font-weight: 600;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    &__button {
        margin-bottom: 2rem;
    }

}

@media(max-width: 1200px) {
    .sidebar {
        width: 100%;
        max-width: 35rem;
    }
}