@import 'libs/fonts';

@import 'base/variables';
@import 'base/text';
@import 'base/buttons';
@import 'base/form';
@import 'base/slider';
@import 'base/animation';

@import 'blocks/intro';
@import 'blocks/header';
@import 'blocks/courses';
@import 'blocks/course';
@import 'blocks/sidebar';
@import 'blocks/quick-contacts';
@import 'blocks/portfolio';
@import 'blocks/blogs';
@import 'blocks/blog-post';
@import 'blocks/open-days';
@import 'blocks/popup';
@import 'blocks/popup-book';
@import 'blocks/footer';
@import 'blocks/overlay';

html {
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1b1b21;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

button {
    border: 0;
    outline: 0;
    background: transparent;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

textarea {
    overflow-y: hidden;
    resize: none;
}


section:not(.intro) {
    margin-top: 10rem;
}

.container {
    max-width: 118rem;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
